[submodule "themes/beg"]
	path = themes/beg
	url = https://github.com/dim0627/hugo_theme_beg
[submodule "themes/minimalist"]
	path = themes/minimalist
	url = https://github.com/digitalcraftsman/hugo-minimalist-theme
